/* Display Text Section */
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.inputBoxStyle {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.inputField {
    display: flex;
    width: 10rem;
    justify-content: end;
}

.calculatorGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
}

.btn {
    border-radius: 15px;
}

.equalSign {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 42.5%;
    padding-right: 42.5%;
    margin-top: 12px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}